body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#clickMeButton {
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
}

#clickMeButton:hover {
    background-color: #a533ff;
}